h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    text-align: center;
    margin-bottom: 43px;
}

div{
    p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
        margin: 0px 0px 7px 0px;
    }
    .objetivo{
        width: 655px;
        height: 32px;
        border: solid 1px #e8e8e8;
        margin: 0 0 24px 0;
    }
    .fecha{
        width: 139px;
        height: 32px;
        border-top: solid 1px #e8e8e8;
        border-right: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        border-left: none;
    }
    .hora{
        width: 117px;
        height: 32px;
        border: solid 1px #e8e8e8;
        border-top: solid 1px #e8e8e8;
        border-right: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        border-left: none;
    }
}
.dib{
    display: inline-block;
}

.mleft{
    margin-left: 28px;
}
.mright{
    margin-right: 44px;
}
.mbottom{
    margin-bottom: 28px;
}

.dFecha{
    margin-right: 156px;
    margin-bottom: 24px;
    i{
        font-size: 14px;
        border-top: solid 1px #e8e8e8;
        border-left: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        border-right: none;
        padding: 7px 10px 9px 8px;
    }
    input{
        font-size: 14px;
    }
}
.dHoraIni{
    margin: 0 18px 0 0;
    i{
        font-size: 14px;
        border-top: solid 1px #e8e8e8;
        border-left: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        border-right: none;
        padding: 6px 10px 8px 8px;
    }
    input{
        font-size: 14px;
    }
}
.dHoraFin{
    i{
        font-size: 14px;
        border-top: solid 1px #e8e8e8;
        border-left: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        border-right: none;
        padding: 7px 10px 9px 8px;
    }
    input{
        font-size: 14px;
    }
}
.addAttendant{
    margin-top: 16px;
}
.separator{
    height: 2px;
    border: solid 1px #c5c5c5;
    margin: 24px 17px 24px 28px;
}
.button-container{
    text-align: center;
}

.button-a{
    font-family: 'Source Sans Pro', sans-serif;
    width: 161px;
    height: 48px;
    border-radius: 6px;
    border: solid 1px #0081f0;
    background-color: #FFFFFF;
    color: #0081f0;
    font-size: 16px; 
    align-self: center;
    margin-right: 12px;
}
.button-b{
    font-family: 'Source Sans Pro', sans-serif;
    width: 161px;
    height: 48px;
    border-radius: 6px;
    border: solid 1px #0081f0;
    background-color: #0081f0;
    color: #FFFFFF;
    font-size: 16px; 
    align-self: center;
    margin-left: 12px;
}