<div class="container">
    <h4>AGREGAR ELEMENTO DE DIÁLOGO</h4>
    <mat-icon aria-label="close" class="closeModalButton" (click)="onNoClick()">close</mat-icon>
    <form action="" [formGroup]="addElementoForm" (ngSubmit)="postElementoDialogo()">

        <h4 class="h4seleccion">Selecciona el tipo de elemento</h4>
        <div class="campoElemento"> 
            <span class="elementoIconoContainer">
                    <img [(src)]="desacuerdoSrc" id="desacuerdo" class="elemento-logo" (click)="changeImg($event.target,'DE')" alt=""> 
            </span>
            <label for="startElementoDuda">Desacuerdo o Brecha</label>
        </div>
        <div class="campoElemento"> 
                <span class="elementoIconoContainer">
                        <img [(src)]="dudaSrc" id="duda" class="elemento-logo" (click)="changeImg($event.target,'DU')" alt="">
                </span>
                <label for="startElementoDuda">Duda o <br>B&uacute;squeda</label>
        </div>
        <div class="campoElemento"> 
                <span class="elementoIconoContainer">
                        <img [(src)]="acuerdoSrc" id="acuerdo" class="elemento-logo" (click)="changeImg($event.target,'AC')" alt="">
                </span>
                <label for="startElementoDuda">Acuerdo de Coordinación</label>
        </div>
        <div class="campoElemento"> 
                <span class="elementoIconoContainer">
                        <img [(src)]="compromisoSrc" id="compromiso" class="elemento-logo" (click)="changeImg($event.target,'CO')" alt="">
                </span>
                <label for="startElementoDuda">Compromiso Individual</label>
        </div>
        <div class="campoElemento"> 
                <span class="elementoIconoContainer">
                        <img [(src)]="normaSrc" id="norma" class="elemento-logo" (click)="changeImg($event.target,'NO')" alt="" >
                </span>
                <label for="startElementoDuda">Norma <br>Común</label>
        </div>

        <div class="campoTexto">
            <label for="strEstado">Estado Elemento</label>
            <mat-select class="selectedEstado" [(ngModel)]="elementoDialogo.estado" formControlName="selectedEstado">
                    <mat-option *ngFor="let est of listaEstado" [value]="est.estado">
                        {{ est.detalle }}
                    </mat-option>
            </mat-select>
        </div>

        <div class="campoFecha">
                <label for="startDate">Fecha de Cierre</label>
                <span class="fechaIconoContainer"><mat-icon class="fechaIcono">event_note</mat-icon></span>
                <input [(ngModel)]="elementoDialogo.fechaCompromiso" formControlName="fechaCompromiso" type="date">
        </div>

        <div class="campoTexto">
                        <label for="startTitulo">Titulo Elemento</label>
                        <input [(ngModel)]="elementoDialogo.titulo" formControlName="titulo" max="50">
        </div>

        <div class="miembros">
                <label for="strResponsable">Responsable Elemento</label>
                <div class="add">
                    <mat-select class="selectedMember" [(ngModel)]="elementoDialogo.username" formControlName="selectedMember">
                        <mat-option *ngFor="let user of Reunion.usuarioActa" [value]="user.username">
                            {{ user.nombre }}
                        </mat-option>
                    </mat-select>
                </div>
        </div>

        <div class="campoDiscusion">
                <label for="strDiscusion">Descripción Elemento (Opcional)</label>
                <textarea [(ngModel)]="elementoDialogo.descripcion" formControlName="descripcion" rows="5" maxlength="1000" ></textarea>
        </div>
       
        <mat-divider></mat-divider>
        <div class="botonera">
            <button class="cancelar" type="button" (click)="onNoClick()">CANCELAR</button>
            <button class="crearElemento" type="submit" [disabled]="!addElementoForm.valid">CREAR NUEVO ELEMENTO</button>
        </div>
    </form>
</div>