<div class="container">
    <h4>AGREGAR REUNIÓN</h4>
    <mat-icon aria-label="close" class="closeModalButton" (click)="onNoClick()">close</mat-icon>
    <form action="" [formGroup]="addMeetingForm" (ngSubmit)="postMeeting()">
        <div class="campoTexto">
            <label for="objetivo">Objetivo Reunión</label>
             <input [(ngModel)]="Reunion.resumen" formControlName="objetivo"  type="text">
        </div>
        <div class="campoFecha">
            <label for="startDate">Fecha Reunión</label>
            <span class="fechaIconoContainer"><mat-icon class="fechaIcono">event_note</mat-icon></span><input [(ngModel)]="Reunion.fecha" formControlName="fecha" type="date">
        </div>

        <div class="campoFecha">
            <label for="startHoraH">Hora Inicio</label>
            <span class="fechaIconoContainer"><mat-icon class="fechaIcono">query_builder</mat-icon></span><input [(ngModel)]="Reunion.horaInicio" formControlName="horaInicio" type="time">
        </div>
        <div class="campoFecha">
            <label for="startHoraF">Hora Termino</label>
            <span class="fechaIconoContainer"><mat-icon class="fechaIcono">query_builder</mat-icon></span><input [(ngModel)]="Reunion.horaFin" formControlName="horaFin" type="time">
        </div>

        <div class="miembros">
            <h4>Asistentes Reunión</h4>
            <div class="miembro" *ngFor="let member of Reunion.usuarioActa">
                <h4>{{ member.nombre }}</h4>
                <mat-icon class="deleteMember" (click)="deleteMember(member)">delete</mat-icon>
                <p>{{ member.username }}</p>
            </div>
            <div class="add">
                <mat-select class="selectedMember" [(ngModel)]="selectedMember" formControlName="selectedMember">
                    <mat-option *ngFor="let user of Project.usuariosNuevoProyecto" [value]="user">
                        {{ user.nombre }}
                    </mat-option>
                </mat-select>
                <button class="addMember" type="button" (click)= "addMember()">Agregar Miembro</button>
            </div>
            
            <mat-divider></mat-divider>
            <div class="botonera">
                <button class="cancelar" type="button" (click)="onNoClick()">CANCELAR</button>
                <button class="crearReunion" type="submit" [disabled]="!addMeetingForm.valid">CREAR NUEVA REUNIÓN</button>
            </div>
        </div>
    </form>
</div>