<app-session></app-session>
<app-breadcrumb *ngIf="project !== undefined" [steps]= "['Proyectos activos']" [here]="project.descripcion"></app-breadcrumb>
<div class="details-container">
  <div *ngIf="project !== undefined" >
      <h1>PROYECTO: {{project.descripcion}}</h1>
       &nbsp;
        <div class="refrescar">
         <i class="material-icons" title="Refrescar resultados" (click)="ngOnInit()">refresh</i>
        </div>
  </div>
  <div class="menu">
      <button class="addMeetingButton" (click)="openAddMeeting()" type="button">
          Nueva Acta
        </button>
    <div *ngIf="project !== undefined" class="meeting-list">
      <div class="meeting-items" *ngFor="let reu of reuniones">
        <a class="meeting-item" (click)="selectMeeting(reu)" [class.selected]="wasClicked">
          ACTA N° {{ reu.correlativo }} | {{ reu.fecha | date: 'dd/MM/yyyy' }} {{ reu.horaInicio }} 
        </a>
      </div>
    </div>
  </div>
  <div class="tab-container">
    <mat-tab-group>
      <mat-tab label="Sintaxis">
        <div class="details-container-mettings">
          <div class="meeting-detail" *ngIf="selectedMeeting !== null">

            <div class="meeting-detail-titulo" *ngIf="selectedMeeting !== undefined">
             
            <div class="encabezado">
              <span>
                    ACTA N° {{ selectedMeeting.correlativo }} | {{ selectedMeeting.fecha | date: 'dd/MM/yyyy' }} - INICIO {{ selectedMeeting.horaInicio }}hrs. 
                  - TERMINO {{ selectedMeeting.horaFin }}hrs.
              </span>
                <div class="interno">
                    <a class="agregarTema" (click)="openAddTema()" [class.selected]="wasClicked">[+] AGREGAR TEMA</a>
                    <i class="material-icons" title="Imprimir Acta">print</i>
                    <i class="material-icons" (click)="openEditMeeting()" title="Editar Acta">edit</i>
                    <i class="material-icons" (click)="openDelMeeting()" title="Eliminar Acta">delete</i>
                </div>
            </div>
            
              <h6>OBJETIVO: {{ selectedMeeting.resumen }}</h6>
            </div>

            <div *ngIf="selectedMeeting !== undefined">
                <div class="participantes">
                  <h5>PARTICIPANTES:</h5>
                    <div *ngIf="selectedMeeting.usuarioActa !== undefined">
                      <div class="participante" *ngFor="let user of selectedMeeting.usuarioActa">
                          {{user.nombre | capitalize }}
                        </div>
                    </div>
                  </div>
            </div> 
            <div class="separator"></div>
            <div *ngIf="selectedMeeting !== undefined">
                <div class="acta" *ngFor="let theme of selectedMeeting.temaActa">
                  <div class="nombreTema">
                      <span>
                          {{theme.nombre}}
                    </span>
                    <div class="interno">
                        <a class="agregarElemento" (click)="openElementoDialogo(theme)" [class.selected]="wasClicked">[+] AGREGAR ELEMENTOS</a>
                        <i class="material-icons" (click)="openEditTema(theme)" title="Editar Tema" >edit</i>
                        <i class="material-icons" (click)="openDelTema(theme)" title="Eliminar Tema">delete</i>
                    </div>
                  </div>
                 
                  <p >
                    {{theme.discusion}}
                  </p>
                  <div *ngIf="theme.elementoDialogoDto.length > 0">
                      <label for="strEstado" class="h6detalle">ELEMENTOS DE DI&Aacute;LOGO:</label>
                      <ul class="elementos">
                        <li *ngFor="let e of theme.elementoDialogoDto">
                           <div>
                              <div *ngIf="e.estado !== 'DELE'">
                                  <span>
                                      <a (click)="openEditElementoDialogo(e.idElemento)" title="">
                                        {{selectedMeeting.correlativo}}.{{e.correlativo}} | 
                                        {{e.codRol}} |
                                        {{e.titulo}}
                                      </a>
                                   </span>
                              </div>
                              <div *ngIf="e.estado == 'DELE'">
                                      <span class="tachado">
                                          <a (click)="openEditElementoDialogo(e.idElemento)" title="">
                                            {{selectedMeeting.correlativo}}.{{e.correlativo}} | 
                                            {{e.codRol}} |
                                            {{e.titulo}}
                                          </a>
                                       </span>
                                 
                              </div>
                           </div>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>           
          </div>
        </div>
      </mat-tab>
      <mat-tab label="TAREAS">
        <div class="kanban" *ngIf="selectedMeeting !== null">
            <div class="barra">
                <div class="campoaccion">
                    <label for="todo">TODO</label>
                </div>
                <div class="campoaccion">
                    <label for="doing">DOING</label>
                </div>
                <div class="campoaccion">
                    <label for="done">DONE</label>
                </div>
            </div>
            <div *ngIf="actaDialogica !== undefined">
                <div class="detallekanban">
                      <div class="divkanban"> 
                          <div class="todo" *ngFor="let kan of actaDialogica.kanbanTareasTodo" (click)="openEditElementoDialogo(kan.idElemento)"> 
                              <label for="strtodo">{{kan.codRol}} - {{kan.titulo}}</label>
                              <label for="strtodo">Resp: {{kan.username}}</label>
                              <label for="strtodo">Fecha: {{kan.fechaCompromiso}}</label>
                          </div>
                      </div>
                      <div class="linea"></div>
                      <div class="divkanban">
                          <div class="doing" *ngFor="let kan of actaDialogica.kanbanTareasDoing" (click)="openEditElementoDialogo(kan.idElemento)"> 
                              <label for="strtodo">{{kan.codRol}} - {{kan.titulo}}</label>
                              <label for="strtodo">Resp: {{kan.username}}</label>
                              <label for="strtodo">Fecha: {{kan.fechaCompromiso}}</label>
                          </div>
                      </div>
                      <div class="linea"></div>
                      <div class="divkanban">
                          <div class="done" *ngFor="let kan of actaDialogica.kanbanTareasDone" (click)="openEditElementoDialogo(kan.idElemento)"> 
                              <label for="strtodo">{{kan.codRol}} - {{kan.titulo}}</label>
                              <label for="strtodo">Resp: {{kan.username}}</label>
                              <label for="strtodo">Fecha: {{kan.fechaCompromiso}}</label>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>