<app-session></app-session>
<app-breadcrumb *ngIf="project !== undefined" [steps]= "['Proyectos activos']" [here]="project.descripcion"></app-breadcrumb>
<div class="details-container">
  <div *ngIf="project !== undefined" >
      <h1>PROYECTO {{project.descripcion}}</h1>
  </div>
  <div *ngIf="project !== undefined" class="menu">
    <div class="meeting-list">
      <div class="meeting-items" *ngFor="let reu of reuniones">
        <a class="meeting-item" (click)="selectMeeting(reu)" [class.selected]="wasClicked">
          Reuni&oacute;n {{ reu.fecha | date: 'dd/MM/yyyy hh:mm' }}
        </a>
      </div>
    </div>
    <button class="addMeetingButton" (click)="openAddMeeting()" type="button">
      Nueva Reuni&oacute;n
    </button>
  </div>
  <div class="tab-container">
    <mat-tab-group>
      <mat-tab label="Sintaxis">
        <div class="details-container-mettings">
          <div class="meeting-detail">
            <div class="meeting-detail-titulo" *ngIf="selectedMeeting !== undefined">
              <h5>Reuni&oacute;n {{ selectedMeeting.fecha | date: 'dd/MM/yyyy' }}</h5>
              <h6>Objetivo: {{ selectedMeeting.resumen }}</h6>
            </div>
            <div *ngIf="selectedMeeting !== undefined && selectedMeeting.usuarioActa.length > 0">
                <div class="participantes">
                  <h5>Participantes</h5>
                  <div class="participante" *ngFor="let user of selectedMeeting.usuarioActa">
                      {{user.nombre | capitalize }}
                    </div>
                  </div>
            </div> 
            <div class="separator"></div>
            <div *ngIf="selectedMeeting !== undefined && selectedMeeting.temaActa.length > 0">
                <div class="acta" *ngFor="let theme of selectedMeeting.temaActa">
                  <h5>{{theme.nombre}}</h5>
                  <p >
                    {{theme.discusion}}
                  </p>
                  <h6>Elementos de di&aacute;logo</h6>
                  <ul>
                    <li *ngFor="let e of theme.elementoDialogoDto">{{e.descripcion}}</li>
                  </ul>
                </div>
            </div>           
          </div>
        </div>
      </mat-tab>
      <mat-tab label="TAREAS">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
          vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
          felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
          enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>