<app-session></app-session>
<app-breadcrumb *ngIf="project !== undefined" [steps]= "['Proyectos activos']" [here]="project.nombre"></app-breadcrumb>
<div class="details-container">
  <div *ngIf="project !== undefined" >
      <div class="titulo">  
          <h1>PROYECTO: {{project.nombre}}</h1>
          <div class="refrescar">
              &nbsp; &nbsp;
            <i class="material-icons" title="Refrescar resultados" (click)="ngOnInit()">refresh</i>
          </div>
      </div>
        
  </div>
  <div class="menu">
      <button class="addMeetingButton" (click)="openAddMeeting()" type="button">
          Nueva Acta
        </button>
    <div *ngIf="project !== undefined" class="meeting-list">
      <div class="meeting-items" *ngFor="let reu of reuniones">
        <a class="meeting-item" (click)="selectMeeting(reu)" [class.selected]="wasClicked">
          ACTA N° {{ reu.correlativo }} | {{ reu.fecha | date: 'dd/MM/yyyy' }} {{ reu.horaInicio }} 
        </a>
      </div>
    </div>
  </div>
  <div class="tab-container">
    <mat-tab-group id="tabPrincipal">
      <mat-tab label="Síntesis Acta">
        <div class="details-container-mettings">
          <div class="meeting-detail" *ngIf="selectedMeeting !== null">

            <div class="meeting-detail-titulo" *ngIf="selectedMeeting !== undefined">
             
            <div class="encabezado">
              <span>
                    ACTA N° {{ selectedMeeting.correlativo }} | {{ selectedMeeting.fecha | date: 'dd/MM/yyyy' }} - INICIO {{ selectedMeeting.horaInicio }}hrs. 
                  - TERMINO {{ selectedMeeting.horaFin }}hrs.
              </span>
                <div class="interno">
                    <a class="agregarTema" (click)="openAddTema()" [class.selected]="wasClicked">[+] AGREGAR TEMA</a>
                    <!--<i class="material-icons" title="Imprimir Acta">print</i> -->
                    <i class="material-icons" (click)="openEditMeeting()" title="Editar Acta">edit</i>
                    <i class="material-icons" (click)="openDelMeeting()" title="Eliminar Acta">delete</i>
                </div>
            </div>
            
              <h6>OBJETIVO: {{ selectedMeeting.resumen }}</h6>
            </div>

            <div *ngIf="selectedMeeting !== undefined">
                <div class="pendientes">
                  <h5>PENDIENTES PROYECTO:</h5>
                    <div *ngIf="selectedMeeting.tareaPendiente !== undefined">                        
                        <div class="pendiente" *ngFor="let e of selectedMeeting.tareaPendiente">
                            <span>
                                <a (click)="openVerActaElementoDialogo(e.idElemento)" title="">
                                  {{e.secuencia}} 
                                </a>
                             </span>
                          </div>
                    </div>
                  </div>
            </div> 

            <div *ngIf="selectedMeeting !== undefined">
                <div class="participantes">
                  <h5>PARTICIPANTES:</h5>
                    <div *ngIf="selectedMeeting.usuarioActa !== undefined">
                      <div class="participante" *ngFor="let user of selectedMeeting.usuarioActa">
                          {{user.nombre | capitalize }}
                        </div>
                    </div>
                  </div>
            </div> 
            <div class="separator"></div>
            <div *ngIf="selectedMeeting !== undefined">
                <div class="acta" *ngFor="let theme of selectedMeeting.temaActa">
                  <div class="nombreTema">
                      <span>
                          TEMA: {{theme.nombre}}
                    </span>
                    <div class="interno">
                        <a class="agregarElemento" (click)="openElementoDialogo(theme)" [class.selected]="wasClicked">[+] AGREGAR ELEMENTOS</a>
                        <i class="material-icons" (click)="openEditTema(theme)" title="Editar Tema" >edit</i>
                        <i class="material-icons" (click)="openDelTema(theme)" title="Eliminar Tema">delete</i>
                    </div>
                  </div>
                 
                  <p >
                    {{theme.discusion}}
                  </p>
                  <div *ngIf="theme.elementoDialogoDto.length > 0">
                      <label for="strEstado" class="h6detalle">ELEMENTOS DE DI&Aacute;LOGO:</label>
                      <ul class="elementos">
                        <li *ngFor="let e of theme.elementoDialogoDto">
                           <div>
                              <div *ngIf="e.estado !== 'DELE'">
                                  <span>
                                      <a (click)="openEditElementoDialogo(e.idElemento)" title="">
                                        {{selectedMeeting.correlativo}}.{{e.correlativo}} | 
                                        {{e.codRol}} |
                                        {{e.titulo}}
                                      </a>
                                   </span>
                              </div>
                              <div *ngIf="e.estado == 'DELE'">
                                      <span class="tachado">
                                          <a (click)="openEditElementoDialogo(e.idElemento)" title="">
                                            {{selectedMeeting.correlativo}}.{{e.correlativo}} | 
                                            {{e.codRol}} |
                                            {{e.titulo}}
                                          </a>
                                       </span>
                                 
                              </div>
                           </div>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>           
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tareas Proyecto">
        <div class="kanban" *ngIf="selectedMeeting !== null">
            <div class="barra">
                <div class="campoaccion">
                    <label for="todo">TODO</label>
                </div>
                <div class="campoaccion">
                    <label for="doing">DOING</label>
                </div>
                <div class="campoaccion">
                    <label for="done">DONE</label>
                </div>
            </div>
            <div *ngIf="actaDialogica !== undefined">
                <div class="detallekanban">
                      <div class="divkanban" (drop)="drop($event,'TODO')" (dragover)="allowDrop($event)" id="todo">
                          <div class="todo" draggable="true" (dragstart)="drag($event)" *ngFor="let kan of actaDialogica.kanbanTareasTodo" id="{{kan.idElemento}}"  (click)="openVerActaElementoDialogo(kan.idElemento)"> 
                              <label for="strtodo">{{kan.secuencia}} | {{kan.codRol}} | {{kan.fechaCompromiso}}</label>
                              <label for="strtodo">{{kan.titulo}} </label>
                              <label for="strtodo">{{kan.username}}</label>
                          </div>
                          <div class="fixdiv">&nbsp;</div>
                      </div>
                      
                      <div class="divkanban" (drop)="drop($event,'DOING')" (dragover)="allowDrop($event)" id="doing">
                          <div class="doing" draggable="true" (dragstart)="drag($event)" *ngFor="let kan of actaDialogica.kanbanTareasDoing" id="{{kan.idElemento}}" (click)="openVerActaElementoDialogo(kan.idElemento)"> 
                                <label for="strtodo">{{kan.secuencia}} | {{kan.codRol}} | {{kan.fechaCompromiso}}</label>
                                <label for="strtodo">{{kan.titulo}}</label>
                                <label for="strtodo">{{kan.username}}</label>
                          </div>
                          <div class="fixdiv">&nbsp;</div>
                      </div>
                          <div class="divkanban" (drop)="drop($event,'DONE')" (dragover)="allowDrop($event)" id="done">
                              <div class="done" draggable="true" (dragstart)="drag($event)" *ngFor="let kan of actaDialogica.kanbanTareasDone" id="{{kan.idElemento}}"> 
                                    <!-- <i class="material-icons"  title="Archivar Tarea">archive</i> --> 
                                    <div class="detalledone" (click)="openVerActaElementoDialogo(kan.idElemento)">
                                        <label for="strtodo">{{kan.secuencia}} | {{kan.codRol}} | {{kan.fechaCompromiso}}</label>
                                        <label for="strtodo">{{kan.titulo}}</label>
                                        <label for="strtodo">{{kan.username}}</label>
                                    </div> 
                              </div>
                              <div class="fixdiv">&nbsp;</div>
                          </div>
                  </div>
            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>