h5{
    font-size: 12px;
}


.details-container{
    display: block;
    margin: 1em auto;
    border-radius: 5px;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;

.titulo{
    h1{
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
    }
    .refrescar{
        position: absolute;
        left: 65%;
        display: inline-block;
        cursor: pointer;
    }
}
    h1{
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 8px 36px;
    }
    .menu{
        width: 220px;
        float: left;
        background-color: #FFFFFF;
        margin: 0 0 0px 36px;
        padding: 0px 16px 16px 16px;
        text-align: center;
        .meeting-list{
            text-align: left;
            .meeting-items{
                padding: 16px 0px 17px 11px;
                border-bottom: 1px solid rgba(0,0,0,.12);
                .meeting-item{
                    font-size: 12px;
                    font-weight: 600;
                    color: #333333;
                    
                }
                .meeting-item:hover{
                    color: #00a1f0;
                    cursor: pointer;
                }
            }
        }
        .addMeetingButton{
            width: 161px;
            height: 48px;
            border-radius: 6px;
            border: solid 1px #0081f0;
            background-color: #FFFFFF;
            color: #0081f0;
            font-size: 14px; 
            margin-top: 16px;
            align-self: center;
            cursor: pointer;
        }
    }
    .tab-container{
        width: 700px;
        margin: 0 0 0px 276px;
        /deep/ mat-tab-group{
            font-family: 'Source Sans Pro', sans-serif;
            mat-tab-header{
                background-color: #FFFFFF !important;
                margin-bottom: 16px !important;
            }
            mat-ink-bar{
                height: 5px !important;
                background-color: #0081f0 !important;
                justify-content: center !important;
            }
            mat-tab-body{
                background-color: #FFFFFF !important;
            }
        }
    }

    .meeting-detail-titulo{
        color: #333333;
        margin-left: 16px;
        font-size: 14px;
        margin-top: 16px;
        width: 96%;
        .encabezado{
            font-weight: 600;
            font-size: 12px;
        }
        span{
            display: inline-block;
        }
        h6{
            margin-top: 10px;
            font-weight: 400;
            color: #9b9b9b;
            font-size: 12px;
        }
        .interno{
            display: inline-block;
            position: absolute;
            left: 68%;
            overflow: hidden;
            .agregarTema {
                width: 97px;
                height: 18px;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                line-height: normal;
                text-align: center;
                color: #00a1f0;
                cursor: pointer;
              }
            i{
                color: #00a1f0;
                font-size: 14px;
                margin: 0px 12px 0px 12px;
                cursor: pointer;
            }
        }
    }
}

/deep/.mat-tab-label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}
/deep/.mat-tab-label.mat-tab-label-active{
    color: #0081f0 !important;
}
/deep/.mat-tab-label.mat-tab-disabled{
    color: #333333 !important;
}

.isSecretary{
    margin-right: 2em;
    margin-top: 1em;
}

.selectedElement{
    background-color: #1EAAF1;
    color: #FFFFFF;
}

.participantes{
    margin-top: 10px;
    padding: 0 0 0 17px;
    font-size: 12px;
    .participante{
        display: inline-block;
        padding: 8px 0 0 8px;
        width: 310px;
        height: 37px;
        background-color: #ececec;
        font-size: 12px;
        font-weight: 600;
        color: #333333;
        margin-right: 18px;
        margin-bottom: 6px;
    }
}

.pendientes{
    margin-top: 10px;
    padding: 0 0 0 17px;
    font-size: 12px;
    .pendiente{
        display: inline-block;
        padding: 8px 0 0 8px;
        width: 35px;
        height: 37px;
        background-color: #ececec;
        font-size: 12px;
        font-weight: 600;
        color: #333333;
        margin-right: 18px;
        margin-bottom: 6px;
        cursor: pointer;
    }
}

.acta{
    background-color: #f8f8f8;
    margin: 8px 17px 8px 17px;
    padding: 8px;
    p{
        margin-bottom: 4px;
        font-size: 12px;
        color: #9b9b9b;
        text-align: justify;
    }
    .h6detalle{
        width: 49%;    
        font-size: 11px;
        margin-bottom: 4px;
    }
    .nombreTema{
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 600;
    }
    span{
        display: inline-block;
        a{
            cursor: pointer;
            line-height: normal;
            letter-spacing: normal;
            color: #00a1f0;
        }
    }
    .interno{
        display: inline-block;
        position: absolute;
        left: 68%;
        overflow: hidden;
    }
    .elementos{
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 1px;
        .tachado{
            display: inline-block;
            a{
                cursor: pointer;
                line-height: normal;
                letter-spacing: normal;
                color: #00a1f0;
                text-decoration:line-through;
            }
        }
    }
    .agregarElemento {
        width: 97px;
        height: 18px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: center;
        color: #00a1f0;
        cursor: pointer;
      }
      i{
        color: #00a1f0;
        font-size: 14px;
        margin: 0px 12px 0px 12px;
        cursor: pointer;
    }
}

.separator{
    height: 2px;
    border: solid 1px #c5c5c5;
    margin: 0px 17px 0px 17px;
}

.kanban{
    display: block;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    .barra{
        height: 44px;
        background-color: #00a1f0;
    }
    .campoaccion{
        width: 33%;
        display: inline-block;
        text-align: center;
        label {
            color: #ffffff;
            width: 44px;
            height: 20px;
            font-size: 16px;
        }
    }
    .detallekanban{
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        .linea{
            display: inline-block;
            width: 1px;
            border: solid 1px #c5c5c5;
        }
        .divkanban {
            margin-left: 10px;
            width: 31%;
            display: inline-table;
            text-align: center;
            margin-top: 5px;
            min-height: 297px;
            border-style: solid;
            border-width: 1px;
            border-color: #0081f0;
            border-radius: 5px;
            .fixdiv{
                height: 1px;
            }
        }
        .todo {
            display: block;
            text-align: center;
            height: 57px;
            margin-top: 4px;
            margin-left: 3px;
            margin-right: 3px;
            background-color: #ffd1d1;
            border-radius: 5px;
            cursor: pointer;
        }
        .doing {
            display: block;
            text-align: center;
            height: 57px;
            margin-top: 4px;
            margin-left: 3px;
            margin-right: 3px;
            background-color: #fff8a0;
            border-radius: 5px;
            cursor: pointer;
        }
        .done {
            display: block;
            text-align: center;
            height: 57px;
            margin-top: 4px;
            margin-left: 3px;
            margin-right: 3px;
            background-color: #d1ffc3;
            border-radius: 5px;
            cursor: pointer;
        }
        label{
            display: block;
            color: #333333;
            margin-top: 1px;
            margin-bottom: 1px;
            text-align: left;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 12px;
            margin-left:3px;
        }
    }
}