<div class="container">
    <h4>{{textoBoton}}</h4>
    <mat-icon aria-label="close" class="closeModalButton" (click)="onNoClick()">close</mat-icon>
    <form action="" [formGroup]="addProjectForm" (ngSubmit)="postProject()">
        <div class="campoTexto">
            <label for="name">Nombre del proyecto</label>
            <input [(ngModel)]="Project.nombre" formControlName="name" maxlength="50" type="text">
        </div>
        <div class="campoTexto">
            <label for="description">Descripci&oacute;n del proyecto</label>
            <input [(ngModel)]="Project.descripcion" formControlName="description" maxlength="255" type="text">
        </div>
        <div class="campoFecha">
            <label for="startDate">Fecha Inicio</label>
            <span class="fechaIconoContainer"><mat-icon class="fechaIcono">event_note</mat-icon></span><input [(ngModel)]="Project.fechaInicio" formControlName="startDate" type="date">
        </div>
        <div class="campoFecha">
            <label for="deathLine">Fecha Termino Estimada</label>
            <span class="fechaIconoContainer"><mat-icon class="fechaIcono">event_note</mat-icon></span><input [(ngModel)]="Project.fechaFin" formControlName="deathLine" type="date">
        </div>
        <div class="miembros">            
            <label>Miembros del Equipo</label>
            <div class="miembro" *ngFor="let member of Project.usuariosNuevoProyecto">
                <label>{{ member.nombre }}  {{ member.apellido }}</label>
                <mat-icon class="deleteMember" (click)="deleteMember(member)">delete</mat-icon>
                <p>{{ member.username }}</p>
            </div>
            <div class="add">
                <mat-select class="selectedMember" [(ngModel)]="selectedMember" formControlName="selectedMember">
                    <mat-option *ngFor="let user of listOfUsers" [value]="user">
                        {{ user.fullName }}
                    </mat-option>
                </mat-select>
                <button class="addMember" type="button" (click)= "addMember()">Agregar Miembro</button>
            </div>
        </div>
        <div class="liderProyecto" *ngIf="Project.usuariosNuevoProyecto.length > 0">
                <label for="strResponsable">Líder Proyecto</label>
                <div class="add">
                    <mat-select class="selectedMember" [(ngModel)]="Project.username" formControlName="selectedLider">
                        <mat-option *ngFor="let user of Project.usuariosNuevoProyecto" [value]="user.username">
                            {{ user.fullName }}
                        </mat-option>
                    </mat-select>
                </div>
        </div>
        <mat-divider></mat-divider>
        <div class="botonera">
            <button class="cancelar" type="button" (click)="onNoClick()">CANCELAR</button>
            <button class="crearProyecto" type="submit" [disabled]="!addProjectForm.valid">{{textoBoton}}</button>
        </div>
    </form>
</div>