<div class="container">
    <h4>AGREGAR PROYECTO</h4>
    <mat-icon aria-label="close" class="closeModalButton" (click)="onNoClick()">close</mat-icon>
    <form action="" [formGroup]="addProjectForm" (ngSubmit)="postProject()">
        <div class="campoTexto">
            <label for="name">Nombre del proyecto</label>
            <input [(ngModel)]="Project.nombre" formControlName="name"  type="text">
        </div>
        <div class="campoTexto">
            <label for="description">Descripci&oacute;n del proyecto</label>
            <input [(ngModel)]="Project.descripcion" formControlName="description" type="text">
        </div>
        <div class="campoFecha">
            <label for="startDate">Fecha Inicio</label>
            <span class="fechaIconoContainer"><mat-icon class="fechaIcono">event_note</mat-icon></span><input [(ngModel)]="Project.fechaInicio" formControlName="startDate" type="date">
        </div>
        <div class="campoFecha">
            <label for="deathLine">Fecha Termino Estimada</label>
            <span class="fechaIconoContainer"><mat-icon class="fechaIcono">event_note</mat-icon></span><input [(ngModel)]="Project.fechaFin" formControlName="deathLine" type="date">
        </div>
        <div class="miembros">
            <div class="campoTexto">

            </div>
            <h4>Miembros del Equipo</h4>
            <div class="miembro" *ngFor="let member of Project.usuariosNuevoProyecto">
                <h4>{{ member.nombre }}  {{ member.apellido }}</h4>
                <mat-icon class="deleteMember" (click)="deleteMember(member)">delete</mat-icon>
                <p>{{ member.username }}</p>
            </div>
            <div class="add">
                <mat-select class="selectedMember" [(ngModel)]="selectedMember" formControlName="selectedMember">
                    <mat-option *ngFor="let user of listOfUsers" [value]="user">
                        {{ user.fullName }}
                    </mat-option>
                </mat-select>
                <button class="addMember" type="button" (click)= "addMember()">Agregar Miembro</button>
            </div>
            
            <mat-divider></mat-divider>
            <div class="botonera">
                <button class="cancelar" type="button" (click)="onNoClick()">CANCELAR</button>
                <button class="crearProyecto" type="submit" [disabled]="!addProjectForm.valid">CREAR NUEVO PROYECTO</button>
            </div>
        </div>
    </form>
</div>