
mat-card{
    margin-top: 40px;
    padding: 38px 40px 32px 40px;
}

mat-card-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 900;
    color: #333333;
}

mat-card-header{
    justify-content: center;
    margin-bottom: 40px;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
    margin-left: 24px;
    height: auto;
    padding: 6px 30px 6px 30px;
    width: auto;
    color: #0081f0;
    border-radius: 6px;
    border: solid 1px #0081f0;
}

.pad-left-zero{
    padding-left: 0px;
    text-align: center;
}

.mat-list-item-text{
    display: block !important;
}
.mat-list-item-date{
    display: block !important;
}