<app-session></app-session>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-header>
          <div class="row">
            <mat-card-title>Proyectos Activos</mat-card-title>
            <div class="col-sm-12 pad-left-zero">
              <button mat-raised-button (click)="openProyectDialog()">Agregar Proyecto</button>
              <button mat-raised-button (click)="openUserDialog()">Agregar Usuario</button>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>

          <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/project', project.proyectoId]" *ngFor = "let project of listArray">
              <span class="mat-list-item-date">Proyecto: {{project.nombre}} /&#160;</span>
              <span class="mat-list-item-date"> Fecha Inicio: {{project.fechaInicio | date:'dd-MM-yyyy'}} / Fecha Fin: {{project.fechaFin | date:'dd-MM-yyyy'}}</span>
            </a>
          </mat-nav-list>

        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>