<app-session></app-session>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-header>
          <div class="row">
            <mat-card-title>PROYECTOS ACTIVOS</mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-table #table [dataSource]="listaProyectos">
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef> Nombre del proyecto </mat-header-cell>
              <mat-cell *matCellDef="let e"> 
                <a [routerLink]="['/project', e.proyectoId]">
                  {{e.nombre}}
                </a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="inicio">
              <mat-header-cell *matHeaderCellDef> Fecha de inicio </mat-header-cell>
              <mat-cell *matCellDef="let e"> {{e.fechaInicio | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fin">
              <mat-header-cell *matHeaderCellDef> Fecha de inicio </mat-header-cell>
              <mat-cell *matCellDef="let e"> {{e.fechaFin | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
              <mat-cell *matCellDef="let e">
                  <i class="material-icons" (click)="editProyectDialog(e.proyectoId)">edit</i>
                  <i class="material-icons" (click)="delProyectDialog(e.proyectoId)">delete</i>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
          <div class="col-sm-12 pad-left-zero">
              <button mat-raised-button (click)="openProyectDialog()">Agregar Proyecto</button>
              <button mat-raised-button (click)="openUserDialog()">Agregar Usuario</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>