$border-bottom: 1px solid gray ;

mat-card{
    margin-top: 2em;
}

mat-card-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px !important;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 74px;
    color: #000000;
}

mat-card-header{
    border-bottom: $border-bottom;
}

mat-nav-list :any-link{
    border-bottom: $border-bottom;
}

button{
    margin-bottom: 1em;
    height: auto;
    padding: 0 1em;
    width: auto;
    color: white;
    background-color: #21B3D8;
}

.pad-left-zero{
    padding-left: 0px;
}

.mat-list-item-text{
    display: block !important;
}
.mat-list-item-date{
    display: block !important;
}